html {
	direction: __MSG_@@bidi_dir__;
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}

body {
	--biu-background: #f5faf0;
	--biu-text-primary: #004128;
	--biu-text-secondary: #006937;
	--biu-active: #78cde6;

	background: var(--biu-background);
	color: var(--biu-text-primary);
	font-family: sans-serif;
	padding: 0 2em 0.5em 2em;

	/* The default for action popup is 16px in Firefox and 12px in Chrome.
		This affects many aspects of the final layout, so for consistency
		we fix it to 16px. */
	font-size: 16px;
}

form {
	margin: 0 auto;
	width: 25em;
}

h1 {
	color: var(--biu-text-secondary);
	margin-top: 0.3em;
	text-align: center;
}

.option {
	background: white;
	border-radius: 1em;
	box-shadow: 0 1px 4px color-mix(in srgb, var(--biu-text-primary) 20%, transparent);
	margin-bottom: 1.25em;
	padding: 1em;

	input {
		accent-color: var(--biu-active);
		cursor: pointer;
		height: 1.3em;
		margin-block: 2px;
		margin-inline: 0 1em;
		width: 1.3em;
	}
	
	label {
		cursor: pointer;
		font-size: large;
		font-weight: bold;
	}

	p {
		font-size: medium;
		margin-block: 1em 0;
		margin-inline: 2.25em 0;
	}
}

#message {
	margin: 1em auto 0 auto;
	width: fit-content;
}
