/*
	Helper classes for courseListRevamp
*/

body.course-list-revamp {
	--courses-sidepanel-width: 22.5rem;
	--minimap-sidepanel-width: 22.5rem;

	.text-overflow-ellipsis {
		overflow: hidden;
		white-space: pre;
		text-overflow: ellipsis; /* Chrome 140 does not support string values... */
		text-overflow: "… "; /* With a space afterwards */
	}

	/* LIs containing the links to the courses */
	.block-fcl__list__item--course {
		margin-inline-start: 10px 0 !important;
		padding-block: 5px !important;
		padding-inline: 10px 0 !important;

		/* A custom class that is being applied by `paddingMargin` (if its enabled) */
		&.biu-fixer-padding-margin-on {
			padding-block: 3px !important;
			padding-inline: 5px 0 !important;
		}

		&:not(:first-of-type) {
			border-top: 1px solid #aaa !important;
		}

		/* The link to a course */
		.block-fcl__list__link {
			display: grid;
			/* Grid: 24px for icon, min-content for course number and the rest for the course name */
			grid-template: "a b c" 100% / 24px auto min-content;
		}

		/* Usually holds the course number in the link */
		.block-fcl__list__link::after {
			content: none !important;
		}
	}

	/* Courses sidepanel */
	.drawer-right {
		max-width: var(--courses-sidepanel-width) !important;
		width: var(--courses-sidepanel-width) !important;
	}

	@media (992px <= width) {
		/* 	Main content, when courses side-panel is open.
			Only on the main page ("site index"), the drawer is always shown
			and so the main page should also be resized accordingly.
			#page-wrapper is to get a higher specificity than the built-in CSS.
		*/
		&#page-site-index #page, #page-wrapper #page.show-drawer-right {
			margin-right: var(--courses-sidepanel-width) !important;
			padding-right: 0;
		}
	}

	/* Course minimap sidepanel */
	.drawer-left {
		max-width: var(--minimap-sidepanel-width) !important;
		width: var(--minimap-sidepanel-width) !important;
	}

	/* Main content, when minimap side-panel is open.
		#page-wrapper is to get a higher specificity than the built-in CSS */
	#page-wrapper #page.show-drawer-left {
		margin-left: var(--minimap-sidepanel-width) !important;
		padding-left: 0;
	}

	/* Completely hide the "draggable" icon, unless it should be visible
		(by default, it has "visibility: hidden" instead of "display: none" */
	.dragicon { display: none; }
	.draggable:hover .dragicon { display: inline-block; }
}
