body.padding-margin {
	/*
		Margins fix: top header can hide content
	*/

	/* `body` has a height of 100%, causing problems when scrolling far down... */
	height: unset !important;

	/* The nav bar covers the start of the page content */
	nav.navbar.fixed-top {
		position: sticky !important;
	}

	#page,
	#topofscroll,
	#learnrpage {
		margin-top: 0 !important;
	}

	/* '#topofscroll' is to get a higher specificity than the built-in CSS */
	#topofscroll #learnrpage {
		padding-top: 0 !important;
	}

	/*
		Course list sidepanel
	*/

	/* List of courses in each semester */
	.block-fcl__list.collapsible {
		padding-top: 2px !important;
	}

	/* Courses list */
	.block_filtered_course_list .card-body {
		padding: 5px 5px 0 0 !important;
	}

	/* Fix egregious margins for paragraphs */
	p {
		margin: 0 0 5px 0 !important;
	}

	/* The container of a forum post */
	.forumpost {
		padding: 0 !important;

		/* Header of a forum post. 'header.header' is to get a higher specificity than the built-in CSS */
		header.header {
			padding: 5px !important;

			/* Wrapper for the second line of the post header */
			.mb-3 {
				margin-bottom: 0 !important;
			}
		}

		/* Padding to the right of a forum post */
		.body-content-container .author-groups-container {
			width: 1em !important;
		}

		/* 'Reply' and 'direct link' buttons */
		.post-actions a {
			padding: 0 0 0 1em !important;
		}
	}

	/* An empty toolbar at the top of the screen */
	.headerbuttons {
		display: none !important;
	}

	/* The header of a sidebar. Contains only the 'close' button */
	.drawerheader {
		height: fit-content !important;

		> button {
			margin-top: 0;
		}
	}

	/* The content of a sidebar (the original value is bad after the change from the previous block) */
	.drawercontent {
		height: 100% !important;
	}

	/* Course minimap sidepanel */
	.drawer-left #course-index {
		> .courseindex-section {
			margin-bottom: 0.75em !important;
			
			> .courseindex-section-title {
				padding: 0 2px 0 0 !important;
			}

			> .courseindex-item-content .courseindex-item {
				padding: 1px 1rem !important;

				> .completioninfo, > .courseindex-cmicon-container {
					min-width: 1.25em;

					.icon.fa {
						margin: 0;
					}
				}
			}
		}
	}

	/*
		Main content
		'#topofscroll' is to get a higher specificity than the built-in CSS
	*/

	#topofscroll {
		/* A section in the main content */
		.topics > .section {
			padding-block: 0 !important;
		}

		/* The container of an item in a 'course activity' list */
		.activity-wrapper {
			padding: 0 !important;
		}

		/* An item in a 'course activity' list */
		.activity-item {
			padding: 0.4em !important;
		}
	}

	/*
		Main content, when a sidebar is open
	*/

	#page.show-drawer-right {
		:is(
			#page-header,
			.secondary-navigation,
			div[role="main"],
			.topics > .section
			) {
			padding-right: 0.5em;
		}
	}

	#page.show-drawer-left {
		:is(
			#page-header,
			.secondary-navigation,
			div[role="main"],
			.topics > .section
			) {
			padding-left: 0.5em;
		}
	}

	/*
		Homepage tweaks
	*/

	/* A course box on the homepage */
	#frontpage-course-list .container-fluid .col-md-4 {
		padding: 0 10px !important;

		.class-box {
			height: 125px !important;
			margin-bottom: 1.25rem !important;
			padding-inline-start: 0 !important;
		}

		.course-title {
			display: inline-block;
		}
	}
}
