/*
	Helper classes for restoreOldIcons
*/

/* '#topofscroll' is to get a higher specificity than the built-in CSS */
#topofscroll {
	.activityiconcontainer.custom-icon {
		background: none !important;
		img {
			content: none !important;
		}
	}

	.nofilter {
		filter: none !important;
	}
}
