/* The container for the front page cover image */
.frontpage #branding {
	height: 360px;

	h1 {
		display: none !important;
	}

	#logoimg {
		background-position: 35%;
		display: flex;
		flex-direction: row-reverse;
		margin-top: 1.25rem;
	}

	.loginbtn {
		margin: auto 0;
		padding-bottom: 0px;
	}

	/* A button in the header banner */
	.card {
		min-height: 3rem !important;
	}

	/* The container for the buttons in the header banner */
	.row {
		margin-top: -1.5rem;
	}
}

/* The "Welcome <student name>" header */
#page-header h2 {
	height: initial !important;
	top: 17rem !important;
}

/* Part of the container for the front page cover image */
#region-main #section-1 {
	padding: 0 1rem !important;

	.my-3 {
		margin-bottom: 0 !important;
	}
}

/* The container for the course boxes */
#frontpage-course-list .container-fluid {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	white-space: nowrap;

	/* A course box */
	.col-md-4 {
		min-width: 15rem !important;

		$flex-breakpoint: 960px;

		@media (550px <= width < $flex-breakpoint) {
			flex-basis: 50% !important;
			max-width: 50% !important;
		}

		@media ($flex-breakpoint <= width) {
			flex-basis: 25% !important;
			max-width: 25% !important;
		}
	}

	/* List of teachers inside a course box */
	.teacherscourseview {
		padding-right: 1.5rem;

		li {
			text-align: justify;
			white-space: break-spaces;
		}
	}
}
